*{
  background-color: black;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
}

.header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 69px;
  border-bottom: 1px solid seashell;
  position: fixed;
  z-index: 10;
  margin-right: 10px;
}

#logo{
  height: 50px;
  margin-left: 10px;
}

nav{
  margin-right: 10px;
  display: flex;
  align-items: center;
}

nav span{
  padding: 0px 10px;
}
