.header,
body{
  background-color: black;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  padding: 0;
}

body{
  display: flex;
  flex-direction: column;
  margin: 0;

}


/* header styling */
.header{
  width: 100%;
  height: 69px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
  border-bottom: 1px solid seashell;
  margin-right: 10px;
  position: fixed;
  z-index: 5;
  padding: 0;
}

#logo{
  height: 50px;
  margin-left: 10px;
}

nav{
  margin-right: 10px;
  display: flex;
  align-items: center;
}

nav span{
  padding: 0px 10px;
}

.navigation{
  color: white;
}
/* main content styling */
.main{
  margin-top: 69px;
  display: flex;
  z-index: 1;
  align-items: center;
  flex-direction: column;

}

.top{
  height: 700px;
  width: 1200px;
}


/* Mission styling */
.mission-text{
  width: 1200px;
  height: 100px;
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  justify-content: space-around;
  background-color: black;
}

.m-text{
  text-align: center;

  margin: 10px;
 }

 .m1{
  font-size: 1.5em;
 }

.mission{
  display: flex;
  flex-direction: column;
  height: 700px;
  width: 1200px;
}

.mission-content{
  margin: -450px;
}

/* feature styling */
.feature{
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  width: 1000px;

}

.tea-img{
  width: 300px;
  height: 200px;
}

.f-title,
.f-toprow,
.f-bottomrow{
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
}

.f-toprow{
  justify-content: space-between;
}

.f-bottomrow .img-text{
  padding: 0px 25px;
}

.f-title{
  flex-direction: column;
  margin: 0px;
}

.f-title h2,
.f-title h4{
  text-align: center;
}

h2{
  font-size: 1.5em;
}

.f-title h4{
  margin: 0px;
}


.img-text{
  display: flex;
  flex-direction:column;
  align-items: center;
  padding: 0px;
  font-weight: bold;
}

/*Locations styling */
.locations{
  height: 580px;
  width: 1200px;
  margin-top: 40px;
  overflow: hidden;
}

.location-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: -720px;
  background-color: transparent;
  height: 330px;
  justify-content: space-between;
}

#loc{
  font-size: 1.7em;
  font-weight: bold;

}

.l-text{
  display: flex;
  justify-content: center;
  width: 980px;
  justify-content: space-between;
  background-color: transparent;
  font-weight: bold;
}

.address{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  justify-content: space-around;
  width: 300px;
  height: 250px;

}

.add-title{
  font-size: 1.4em;
}
